---
layout: default
---
<div class="homepage">
  <!-- Hero Area [Panel 1] -->
  <div class="hero-area">
    {% include white_navigation.html %}
    <div class="vertical-container">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>
              Premium HSC English Tuition
            </h1>
            <div class="subtitle">
              Catering to students in Years 10 - 12 seeking to obtain top marks in English (Advanced)
            </div>
            <div class="cta-area">
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-primary btn-block btn-lg">
                    Our Approach
                  </button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-primary btn-block btn-lg">
                    Enrol Now
                  </button>
                </div>
              </div>
            </div>
            <br/> Watch the video now:
            <br/>
            <iframe height="70px" width="110px" src="https://www.youtube.com/embed/lhINKgfzBh4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="col">
          </div>
        </div>
        <div class="row">
          <div class="key-points">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <div class="key-block">
                    Top 20 State Ranking Teachers
                  </div>
                </div>
                <div class="col">
                  <div class="key-block">
                    Personalised
                    <br/> 1-on-1 Tutorials
                  </div>
                </div>
                <div class="col">
                  <div class="key-block">
                    Essay Perfection Program
                  </div>
                </div>
                <div class="col">
                  <div class="key-block">
                    Holistic and Individualised
                  </div>
                </div>
                <div class="col-1">
                </div>
                <div class="col-4">
                  <div class="black-context">
                    <b>Tutor: Rebecca Ha</b>
                    <br/>19th in NSW in English Advanced
                    <br/>Michael Orange Prize in English Literature (USYD)
                    <br/>ATAR: 99.50
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Panel 2: Features -->
  <div class="white-panel plant-panel">
    <div class="container">
      <div class="heading-panel">
        <div class="row">
          <div class="col-5">
            <img src="https://imgdrop.imgix.net/0101a42c808143abb1085438404b2e8f.svg" height="60px">
            <br/>
            <br/>
            <h2>All inclusive full service tuition</h2>
            <div class="secondary">
              We've carefully designed our course to cater to every possible need of an HSC English (Advanced) student.
              <br/>
            </div>
          </div>
          <div class="col-1">
          </div>
          <div class="col-6">
            <hr/>
            <div class="informative">
              <b>What does this mean?</b>
              <p>Delta caters specifically to dedicated students in Years 10-12 seeking to attain the top marks in English (Advanced). The vast majority of our students (80%+) attain a Band 6 in English, with many being awarded state ranks in NSW and ATARs of 99.95 consistently since the company’s inception.</p>
            </div>
            <hr/>
            <div class="informative">
              <b>What does this mean?</b>
              <p>Delta caters specifically to dedicated students in Years 10-12 seeking to attain the top marks in English (Advanced). The vast majority of our students (80%+) attain a Band 6 in English, with many being awarded state ranks in NSW and ATARs of 99.95 consistently since the company’s inception.</p>
            </div>
            <hr/>
            <div class="informative">
              <b>What does this mean?</b>
              <p>Delta caters specifically to dedicated students in Years 10-12 seeking to attain the top marks in English (Advanced). The vast majority of our students (80%+) attain a Band 6 in English, with many being awarded state ranks in NSW and ATARs of 99.95 consistently since the company’s inception.</p>
            </div>
            <hr/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </div>
  <!-- Panel 3: Teachers -->
  <hr/>
  <div class="white-panel">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>State ranking teachers</h1>
          <div class="secondary">
            We've carefully designed our course to cater to every possible need of an HSC English (Advanced) student
            <br/>[Will have different teaching image as bg]
          </div>
          <br/>
        </div>
      </div>
      <div class="row">
        {% for tutor in site.tutors %}
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="tutor-card">
              <div class="row">
                <div class="col-7">
                  <div class="vertical-container-standard">
                    <img src="https://s3-ap-southeast-2.amazonaws.com/staticassetspasha/delta/Delta+Education+Logo/White+vers/Delta_Symbol_icon_WHITE.png" height="40px" width="32px">
                    <div class="tutor-name">
                      {{tutor.title}}
                    </div>
                    <div class="degree">
                      {{tutor.headline}}
                      <br/>{{tutor.atar}}
                    </div>
                    <div class="tutor-accomplishments">
                      {{tutor.quick_text}}
                    </div>
                  </div>
                </div>
                <div class="col">
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Panel 4: Testimonials -->
  <div class="white-panel testimonial-panel">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="testimonial-square">
          </div>
          <h1>Testimonial</h1>
          <div class="secondary">
            We've carefully designed our course to cater to every possible need of an HSC English (Advanced) student
            <br/>[Will have different teaching image as bg]
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Panel 5: CTA -->
  <div class="white-panel">
    <div class="container">
      <div class="row">
        Hello container
      </div>
    </div>
  </div>
</div>