---
layout: default
---

<div class="state-ranking-teachers">
  <div class="state-hero">
    {% include navigation.html %}
    <div class="vertical-container-standard">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <h1>State Ranking Teachers</h1>
            <p>Our staff members are the most qualified of any tutoring company in NSW. All teachers and markers at Delta hold, without exception, either a NSW state rank and/or a 99.95 ATAR.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blade">
    <div class="container">
      <div class="row">
        {% for tutor in site.tutors %}
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="tutor-card" style="
            background: linear-gradient(90deg, rgba(14,60,99,1),rgba(0,0,0,0.0)),url('{{tutor.tutorimage}}') no-repeat center center;

            ">
              <div class="row">
                <div class="col-7">
                  <div class="vertical-container-standard">
                    <img src="https://s3-ap-southeast-2.amazonaws.com/staticassetspasha/delta/Delta+Education+Logo/White+vers/Delta_Symbol_icon_WHITE.png" height="40px" width="32px">
                    <div class="tutor-name">
                      {{tutor.title}}
                    </div>
                    <div class="degree">
                      {{tutor.headline}}
                      <br/>{{tutor.atar}}
                    </div>
                    <div class="tutor-accomplishments">
                      {{tutor.quick_text}}
                    </div>
                  </div>
                </div>
                <div class="col">
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>