
.homepage {

  .hero-area {
    background-color: rgb(29, 82, 126);
    color: white;
    padding: 110px 0;
    font-weight: 300;
  }

  h1 {
    // font-size: 200px !important;
    font-weight: 800;
  }
}
