
body {
  // font-family: "Gill Sans" !important;

}

.homepage {
  .hero-area {
    background-color: rgb(29, 82, 126);
    color: white;
    padding: 10px 0 110px;
    font-weight: 300;
    height: 95vh;
    min-height: 700px;
    position: relative;
    font-size: 23px;

    background: #24334F url('https://s3-ap-southeast-2.amazonaws.com/staticassetspasha/delta_bg_full.jpg') no-repeat center 80%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }



  h1 {
    // font-size: 200px !important;
    // font-family: 'Georgia';
    font-size: 46px;
    font-weight: 800;
  }

  .subtitle {
    font-size: 20px;
    line-height: 32px;
    margin-top: 10px;
    font-weight: 300;
  }

  .cta-area {
    margin: 20px 0;
  }

  .white-panel {
    background: white;
    padding: 50px 0 110px;
    font-size: 18px;
    font-weight: 300;
    h2 {
      font-weight: 800;
      letter-spacing: -1px;
      font-size: 38px;
    }

    .heading-panel {
      margin: 50px 0 20px;


      .selector-section {

        margin: 20px 0;
        border-top: 1px dashed #e1e1e3;
        .selector {
          -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
          padding: 20px 0;
          border-bottom: 1px dashed #e1e1e3;
        }

        .selector:hover {
          color: #007bff;
          cursor: pointer;
          padding-left: 10px;
        }
      }
    }



    .informative {
      font-size: 14px;
      b {
        font-weight: 700;
      }
    }
  }

  .colored-panel {
    background-color: rgb(29, 82, 126);
    color: white;
    padding: 110px 0;
  }

  .key-points {
    position: absolute; // width: 100%;
    // width: 100%;
    width: 1140px;
    bottom: 0px;
  }

  .key-block {
    border-left: 1px solid white;
    padding-left: 20px;
    margin-top: 40px;
    height: 70px;
    font-size: 13px;
  }

  .black-context {
    background: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    padding: 15px 20px 0;
    text-align: right;
    height: 110px;
    b {
      font-size: 15px;
      font-weight: 700;
    }
  }

  .navbar {
    width: 100%;
  }
}

.navigation {
  padding: 30px 0;
}

.white-navigation {
  color: white;
  a {
    color: white;
  }
  font-size: 14px;

  .nav-link {
    margin-left: 20px;
    color: rgba(255, 255, 255, 1) !important;
  }
}

.tutor-card {
  background: linear-gradient(90deg, rgba(14, 60, 99, 0.7), rgba(0, 0, 0, 0.0)), url('https://s3-ap-southeast-2.amazonaws.com/staticassetspasha/delta/photos/Xpp_GrMA.jpeg') no-repeat center center;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
  padding: 40px 30px;
  margin-bottom: 15px;
  font-size: 13px;
  height: 300px;
  font-weight: 300;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  .tutor-name {
    font-size: 25px;
    font-weight: 800;
  }

  .degree {
    font-weight: 700;
  }

  .tutor-accomplishments {
    // margin-top: 15px;
    ul {
      margin: 0;
    }
  }
}

.tutor-card:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05)
}

.testimonial-panel {
  background: #24334F url('https://images.unsplash.com/photo-1505766358654-db278b02c108?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=515fe66253154a5dc0c7fa55a7b0b20d&auto=format&fit=crop&w=1955&q=80') no-repeat center 60% !important;
  min-height: 450px;
  color: white;

  .testimonial-square {
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .testimonial-subtext {
    font-size: 15px;
  }
}

.footer {
  // position: absolute;
  padding: 40px 0 60px;
  bottom: 0;
  width: 100%; // height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.plant-panel {
  background: #24334F url('https://images.unsplash.com/photo-1524055988636-436cfa46e59e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4bd9521eccad603a813e51c0cde9d826&auto=format&fit=crop&w=975&q=80') no-repeat center 60%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.state-ranking-teachers {
  .state-hero {
    background-color: rgb(29, 82, 126);
    color: white;
    padding: 10px 0 110px;
    font-weight: 300;
    height: 60vh;
    min-height: 500px;
    position: relative;
    background: #24334F url('https://s3-ap-southeast-2.amazonaws.com/staticassetspasha/delta/photos/tutors.png') no-repeat center 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 30px;
    font-size: 23px;

    h1 {
      font-weight: 800;
    }
  }

  .navbar {
    width: 100%;
  }
}

.vertical-container {
  vertical-align: middle;
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center; // position:relative;
  //
}

.vertical-container-standard {
  vertical-align: middle;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; // position:relative;
  //
}


.tuition-at-delta {
  .tuition-hero {
    background-color: rgb(29, 82, 126);
    color: white;
    padding: 10px 0 110px;
    font-weight: 300;
    height: 60vh;
    min-height: 500px;
    position: relative;
    background: #24334F url('https://s3-ap-southeast-2.amazonaws.com/staticassetspasha/delta/photos/tuition2.png') no-repeat center 80%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 30px;
    font-size: 23px;
    h1 {
      font-weight: 800;
    }
  }

  .navbar {
    width: 100%;
  }

  .blade {
    padding: 30px 0;
    font-weight: 300;

    .benefit-image {
      width: 80px;
    }

    .pre-header {
      margin: 10px 0;
      color: grey;
    }

    .benefit-item {
      margin: 30px 0;
    }

    .benefit-text {
      h3 {
        font-weight: 800;
        margin: 0;
      }
    }
  }
}

.contact-us {

  .contact-us-hero {
    background-color: rgb(29, 82, 126);
    color: white;
    padding: 10px 0 110px;
    font-weight: 300;
    height: 60vh;
    min-height: 500px;
    position: relative;
    background: #24334F url('https://s3-ap-southeast-2.amazonaws.com/staticassetspasha/delta/photos/contactus.png') no-repeat center 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 30px;
    font-size: 23px;

    h1 {
      font-weight: 800;
    }
  }

  .navbar {
    width: 100%;
  }
}